/* Global Styles */

body {
  background: #fff;
  font-family: 'Lekton', sans-serif;
  color: #555;
  text-align:center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a link {
  cursor: pointer;
}
header {
  margin: 2em auto;
  padding: 1em 2em;
}
main {
  width: 100%;
  max-width: 980px;
  margin: auto;
}
input[type=text] {
  font-size: 16pt;
  width: 100%;
  max-width: 440px;
  padding: 15px 10px;
  border: none;
  border: 1px solid #555;
  outline: none;
  font-family: inherit;
}
img {
  max-width: 980px;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list p {
  display: none;
}

/* Gallery Styles */

.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.photo-gallery li {
  margin-bottom: 60px;
  text-align: center;
}

.photo-gallery li img {
  -webkit-filter: grayscale(100%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(100%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(100%);
  -o-transition: .5s ease-in-out;
}
.photo-gallery li img:hover {
  -webkit-filter: grayscale(0%);
  -webkit-transition: .5s ease-in-out;
  -moz-filter: grayscale(0%);
  -moz-transition: .5s ease-in-out;
  -o-filter: grayscale(0%);
  -o-transition: .5s ease-in-out;
}

/* lightbox styles */

#overlay {
  background:rgba(0,0,0,0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
.gallery-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 980px;
  text-align: center;
  margin: auto;
}

#overlay img {
  width: 100%;
  max-width: 750px;
  height: auto;
  margin: 5% 0;
}
#overlay p {
  display: block;
  color: #eee;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
  line-height: 1.5;
}

/* Navigation */
button {
  background: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  color: #fff;
  font-size: 4em;
  top: 0;
  left: 0;
  z-index: 1000;
}
#previous {
  order: -1;
}

  @media (max-width: 895px) {
    .gallery-container {
      clear: both;
      display: block;
    }
    #overlay p {
      padding: 5%;
    }
  }

  @media (max-width: 480px) {
    .photo-gallery {
      flex-direction: column;
      justify-content: center;
    }
  }
